body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #f0f0f0, #e0e0e0); /* Gradient background */
}

.calculator {
    width: 320px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 28px;
    text-align: right;
    padding: 10px;
    margin: 0 0 20px 0;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

button {
    font-size: 34px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
}

.operator {
    background-color: #f0f0f0;
    color: #333;
}
